<div class="container">
  <h1><%= @cocktail.name %></h1>
  <ul>
    <% @doses.each do |dose| %>
      <li><%= dose.description %><%= dose.ingredient.name %>
      <%= link_to "Delete", cocktail_dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
     <% end %>
  </ul>


<div>
  <h1>Add Ingredient</h1>
  <%= render 'doses/form' %>
</div>


  <div>
    <%= link_to "<-- Back to All Cocktails", cocktails_path %>

  </div>
</div>
